<!DOCTYPE html>
<html>
  <head>
    <title>Healty-diet App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/healthy-diet/login" method="POST">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
