<!DOCTYPE html>
<html>
  <head>
    <title>Healthy-diet App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="logo-wrapper">
        <img src="../public/images/logo-png 1.jpg" width="70" height="66">
        <span class="header-logo-slim">Slim</span><span class="header-logo-mom">Mom</span>
        
      </div>
      <span class="vertical-line">|</span>
      <nav>
        <a href="">Log IN</a>
        <a href="">Registration</a>
      </nav>
    </header>
    <br><br><br>
    <main></main>
    <form action="/healthy-diet/login" method="POST">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
